<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deparment</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<header>
        <nav>
            <ul style="list-style: none; display: flex; gap: 15px;">
                <li><a href="/">Головна</a></li>
                <li><a href="/departments/">Кафедри</a></li>
                <li><a href="/programs/">Спеціальності</a></li>
            </ul>
        </nav>
    </header>
<h1>Кафедри</h1>
<ul>
  {% for dept in departments %}
    <li>
      <a href="{% url 'department_detail' dept.id %}">{{ dept.name }}</a><br>
      Завідувач: {{ dept.department_head }}<br>
      Спеціальності:
      {% for prog in dept.programs.all %}
        {{ prog.name }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </li>
  {% endfor %}
</ul>


</body>
</html>