<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>unisite</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
     <header>
     <h1>Факультет економічних наук</h1>
     <p>Факультет економічних наук НаУКМА готує висококласних спеціалістів у сфері економіки, фінансів, сфери управління та маркетингу  на всіх рівнях: від бакалавра й магістра до аспіранта. Факультет створений на базі Департаменту економічних наук НаУКМА у серпні 2000 року.Наші освітньо-професійні програми поєднують державні стандарти вищої освіти України із сучасними західними вимогами до економічної освіти. Ми формуємо фахівців, готових до викликів сьогодення</p>
     </header>




    <section>
        <h1>Декан факультету</h1>
        <img src="{% static 'default_image.png' %}" alt="фото">
        <p>Глущенко Світлана Василівна<br>
            кандидат економічних наук, доцент<br>
        </p>
    </section>
    <section>
        <h1>Заступник декана </h1>
        <img src="{% static 'default_image.png' %}" alt="Фото">
        <p>Бугрова Олена Олександрівна<br>
            кандидат економічних наук, доцент<br>
        </p>
         <section class="programs">
        <h1>Програми</h1>
            <p>Економіка<br>
               Фінанси, банківська справа, фондовий ринок та страхування<br>
               Маркетинг<br>
                Менеджмент<br>
            </p>
        </section>

        <footer class="contact-footer">
        <div class="contact-details">
            <h3>Контакти</h3>
            <p><strong>Адреса:</strong> вул. Сковороди 2, Київ</p>
            <p><strong>Телефон Деканату:</strong> +38 (044) 425 77 37</p>
            <p><strong>Email:</strong> info@faculty.edu.ua</p>
        </div>
    </footer>




        </section>
    </header>
</main>
</body>
</html>